*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ede07f;
}
.app2{
    border:2px solid #fff ;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: auto;
    width: 100%;
}
.tempoDiv{
    position: absolute;
    display: flex;
}
.logo__pdx{
    position: relative;
    left: 780px;
    bottom: 535px;
    width: 200px;
    height: 100px;
    background-image: url(../images/logo1.png);
    background-repeat: no-repeat;
    background-size: 200px,100px;
}
#PDX{
    display: flex;
    height: 550px;
    width: 870px;
background-size:1100px ;
background-position:center;
background-repeat: no-repeat;
background-image: url(../images/Artboard1.png);
}
.pdx__side1{
    margin-left: 7%;
    height: 100%;
    width: 45%;
    
}
.pdx__screen{
    padding: 3px;
    overflow-y: scroll;
    //display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 3px solid greenyellow;
    position: relative;
    top: 157px;
    left: 68px;
    width: 260px;
    height: 210px;
}
.pdx__side2{
    height: 100%;
    width: 45%;
    
}
.pdx__number{
    width: 115px;
    height: 45px;
    border:3px solid blue;
    position: relative;
    top: 217px;
    left: 104px;
}
.pdx__screen2{
    position: relative;
    height: 155px;
    width: 255px;
    border: 3px solid greenyellow;
    top: 180px;
    left: 35px;
}
.div__shape{
    display: flex;
    width: 115px;
    height: 35px;
    border: 3px solid blue;
    position: relative;
    top: 210px;
    left: 38px;
    .hw{
        width: 50%;
        border: 2px solid red;
    }
}
.T2{
    display: flex;
    position: relative;
    top: 237px;
    left: 37px;
    border: 3px solid black;
    height: 40px;
    width: 255px;
    justify-content: space-between;
}
.typeOf{
    
    width: 115px;
    
    border: 3px solid red;
}
.imgPK{
    margin-left: 50px;
    width: 165px;
    height: 165px;
}
.namePK{
    margin-left: 50px;
}